{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav>
        <h1>ToDoList</h1>
        <div>
            <a href="{% url 'task-list' %}">Início</a>
            <a href="{% url 'task-create' %}">Nova Tarefa</a>
        </div>
    </nav>
    <div class="container">
        <h2>Editar Tarefa</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn" type="submit" value="Atualizar">
        </form>
        <a href="{% url 'task-list' %}">Voltar</a>
    </div>
</body>
</html>
