{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Tarefa</title>
    <link rel="stylesheet" href="{% static 'tasks/styles.css' %}">
</head>

<div>
    <nav>
        <h1>ToDoList</h1>
        <div>
            <a href="{% url 'index' %}">Início</a>
            <a href="{% url 'index' %}">Nova Tarefa</a>
        </div>
    </nav>
    <div class="container">
    </div>

    <h1>Atualizar Tarefa</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn" type="submit" value="Atualizar">
    </form>
</div>
</body>

</html>